body{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
    height: 100px;
    width: 300px;
    border: 1px solid black;
}

.text_div{
    height: 100px;
    width: 300px;
    padding: 50px;
    border: 15px solid blue;
    margin: 20px;
    background-color: lightblue;
}
/* Your CSS Code here. */

.p_tag{
    
}